.go-home {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #92848f;
    z-index: 100;
    .link {
        display: block;
        height: 100%;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
    }
}