#root {
    height: 100%;
    position: relative;
}

.App {
    text-align: center;
    // position: relative;
    height: 100%;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

html,
body {
    height: 100%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.container {
    background: #ff0000;
}

.center {
    width: 200px;
    background: #fff000;
    height: 100%;
    height: 80px;
    float: left;
}

.left {
    background: #61dafb;
    height: 40px;
    width: 300px;
}

.right {
    background: #61da;
    height: 20px;
    width: 300px;
}

.changeSort {
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.container1 {
    margin-bottom: 20px;
    background: #fff000;
}

.container {
    /* display: flow-root;
    overflow: hidden; */
}

.column1 {
    background-color: green;
    margin: 10px 1%;
    text-align: left;
}

.column2 {
    background-color: #61dafb;
    margin: 20px 1%;
    text-align: left;
}

.column3 {
    background-color: blueviolet;
    text-align: left;
}