.stateBtns {

    .add_btn {
        height: 30px;
        line-height: 30px;
        background: #ff0000;
        margin-bottom: 20px;
        text-align: center;
        border-radius: 5px;
    }

    .btn {
        height: 30px;
        line-height: 30px;
    }
}

.ddd {
    font-size: 12px;
    color: #000;
}